# Ambiente virtual
.venv/

# Arquivos Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache e temporários de testes
.pytest_cache/
pytest_temp/

# Banco local de Jobs
/jobs.db
